body{
    margin: 0;
    padding: 0;

}

.main{
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

.container{
    margin-top: 40px;
}


.ul-list{
    list-style-type: none;
}

.lista{
    display: flex;
    padding: 10px 40px;
    /* background-color: rgb(235, 212, 178); */
    justify-content: center;
}